<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- WebApp Name and Description -->
    <title>Reality Unveiled</title>

    <meta name="description" content="Welcome to Reality Unveiled, a space where musings and revelations of God and holiness are shared. Join us on a transformative journey as we explore profound reflections and spiritual insights ccording to scripture, offering guidance and inspiration from the God by the Holy Spirit.">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- NavBar Styles -->
    <link rel="stylesheet" href="css/navbar.css">
    <!-- Font Awesome 4.7.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Font Open Sans Embed-->
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    