<nav>
    <div class="nav-header">
        <a href="" class="subscribe">Subscribe</a>

        <a href="/" class="nav-branding">Reality Unveiled</a>

        <a href="" class="btn">Log in</a>

    </div>

    <div class="navbar">
        <ul class="nav-menu">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/blog">Blog</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/new">New Post</a></li>
        </ul>
    </div>
</nav>
    