<nav>
    <div class="nav-header">
        <a href="" class="subscribe">Subscribe</a>

        <a href="/" class="nav-branding">Reality Unveiled</a>

        <a href="" class="btn sm-hid">Log in</a>

        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>

    <div class="navbar">
        <ul class="nav-menu">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/blog">Blog</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/new">New Post</a></li>
        </ul>

        <div class="abt lg-hid">
            <p>Welcome to Reality Unveiled, where we delve into God's word and instructions for spiritual growth. Join us on a transformative journey as we explore scripture-inspired reflections and receive guidance from the Holy Spirit.</p>
        </div>

        <a href="" class="btn lg-hid">Log in</a>
    </div>
</nav>
    