<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>

    <div class="body">
        <h1>About</h1>
        <p>Welcome to Reality Unveiled, a space where musings and revelations of God and holiness are shared. Join us on a transformative journey as we explore profound reflections and spiritual insights ccording to scripture, offering guidance and inspiration from the God by the Holy Spirit.</p>
        <p><b>Reality Unveiled</b> was created to achieve the following;</p>
        <ul>
            <li>To introduce Jesus to those who don’t know Him, so that they see Him for who He really is and not what He has been portrayed to be.</li>
            <li>To take the blindfolds of religion off the eyes of those who have been blinded by it, so they can enjoy the reality of the life He has made available.</li>
            <li>To get people to wake up to the reality of the life God created them to live.</li>
            <li>To create a deeper hunger for God in the hearts of those who already know Him as they get to know Him more.</li>
        </ul>
        <p>In essence, the major aim here is to give people God’s own viewing lenses so they see things from His perspective, which is actually the true picture of reality. This is something that only God can do, this blog is just another medium through which He will do it.</p>
    </div>

<%- include('partials/footer'); -%>