<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>
    
<div class="body">
    <div class="main">
        <div class="read">
            <h1>
                New Post
            </h1>
            
            <hr>

            <form action="/new" method="post">
                <label for="topic"><h3>Title:</h3></label>
                <input type="text" name="topic" id="">

                <label for="sub-topic"><h3>Sub-Topic:</h3></label>
                <input type="text" name="sub-topic" id="">

                <label for="author"><h3>Author:</h3></label>
                <input type="text" name="author" id="">

                <textarea name="post" id="post" placeholder="Write your new post here"></textarea>

                <div class="buttons">
                    <button type="submit" class="btn red">Save</button>
                </div>
            </form>
        </div>

        <div>
            <div>
                <div  class="about">
                    <p>Welcome to Reality Unveiled, where we delve into God's word and instructions for spiritual growth. Join us on a transformative journey as we explore scripture-inspired reflections and receive guidance from the Holy Spirit.</p>
                </div>
                
                <div class="posts">
                    <h2>Recent Posts</h2>
                    
                    <div>
                        <a href="">Nuggets to Boost Your Spiritual Life</a>
                            <br><span>January 17, 2024</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


<%- include('partials/footer'); -%>