nav {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    padding-bottom: 30px;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 0;
}

.nav-header a:first-child {
    color: #A9A9A9;
}

.nav-branding {
    font-family: "Playfair Display", serif;
    color: #000000;
    font-size: 36px;
    text-decoration: none;
    font-weight: 600;
}


.navbar {
    border-top: #d4d4d4 1px solid;
    border-bottom: #d4d4d4 1px solid;
    width: 78%;
    margin: auto;
}

.nav-menu {
    width: 24%;
    padding: 9px 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #000000;
}

.nav-menu a:hover {
    text-decoration: underline;
    color: #A9A9A9;
    
}

