nav {
    /*position: fixed;*/
    top: 0;
    width: 100%;
    padding-bottom: 30px;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 21px 0;
}

.nav-header a:first-child {
    color: #A9A9A9;
}

.nav-branding {
    font-family: "Playfair Display", serif;
    color: #000000;
    font-size: 36px;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    border-top: #d4d4d4 1px solid;
    border-bottom: #d4d4d4 1px solid;
    width: 78%;
    margin: auto;
}

.nav-menu {
    width: 24%;
    padding: 9px 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #000000;
}

.nav-menu a:hover {
    text-decoration: underline;
    color: #A9A9A9;    
}

.hamburger {
    display: none;
}

/* Styles for MOBILE VIEW */
@media (max-width:1024px) {
    nav {
        width: 100%;
    }
    .nav-header {
        background-color: #FFFFFF;
        position: fixed;
        width: 96%;
        margin: auto;
        border-bottom: 1px solid #d4d4d4;
    }

    .nav-branding {
        font-size: 27px;
    }

    .line {
        width: 25px;
        height: 1px;
        background-color: #1f1f1f;
        display: block;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .line:nth-child(2) {
        width: 0px;
    }

    .hamburger.active .line:nth-child(1),
    .hamburger.active .line:nth-child(3) {
        transition-delay: 0.3s;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(12px);
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-5px) rotate(90deg);
    }

    .hamburger.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }

    .navbar {
        position: fixed;
        transition: 0.9s;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 78px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: start;
        padding: 30px 42px;
        gap: 30px;
    }

    .navbar.active {
        right: 0;
    }

    .nav-menu {
        width: 100%;
        padding: 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: start;        
        list-style: none;
    }
    
    .nav-menu a {
        text-decoration: none;
        font-family: "Playfair Display", serif;
        font-size: 24px;
        font-weight: 600;
        color: #000000;
    }
    
    .nav-menu a:hover {
        text-decoration: underline;
        color: #A9A9A9;
        
    }

    .navbar .abt {
        padding: 90px 0 0 0;
        background-color: inherit;
        width: 70%;
        font-style: italic;
        word-spacing: 3px;
    }
 
    .navbar .btn {
        border: #000000 1px solid;
    }
    

    
    
}