* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
}

h1 {
    font-family: "Protest Revolution", sans-serif;
    margin: 24px 0;
    font-size: 45px;
    font-weight: 100;
}

p {
    font-size: 16.5px;
    line-height: 30px;
    margin: 21px 0;
}

.body li {
    margin: 15px 0 15px 42px ;
}

.body {
    padding-top: 162px;
    width: 70%;
    margin: auto;
}
