* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.body {
    width: 78%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #A9A9A9;
    text-decoration: none;
    border: solid 1px;
    border-radius: 4px;
}

.blue {
    background-color: #5d3cf1;
    color: #ffffff;
}

.red {
    background-color: #ee4f4f;
    color: #ffffff;
}

.btn:hover {
    color: #ffffff;
    background-color: #A9A9A9;
    text-decoration: none;
    border: solid 1px #000000;
}

.blue:hover {
    background-color: #2e00fa;
    color: #ffffff;
    border: solid 1px #000000;
}

.red:hover {
    background-color: #e90000;
    color: #ffffff;
    border: solid 1px #000000;
}

h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
    /*font-size: 39px;
    font-weight: 100;*/
}

h1 span, h2 span {
    font-size: 15px;
    font-weight: lighter;
    color: #A9A9A9;
    vertical-align: super;
}

p {
    line-height: 24px;
    margin: 15px 0;
}

.body li {
    margin: 15px 0 15px 42px ;
}

.featured {
    display: flex;
    justify-content: space-around;
}

.card {
    flex-basis: 50%;
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 4px 8px 5px -3px #A9A9A9;
    /* Add more styles as needed */
}

.card div {
    margin: 24px;
    
}

.card-image {
    width: 180px; /* Adjust the width as needed */
    object-fit: cover;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 98%;
    margin: 60px auto;
}

.read {
    text-align: justify;
    width: 420%;
}

.about {
    padding: 18px 36px;
    background-color: #eeeded;
    border-radius: 4px;
}

.posts {
    margin: 60px auto;
}

.posts ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    width: 100%;
}

.posts li {
    border-top: #A9A9A9 1px solid;
    display: flex;
}

.posts img {
    width: 60px;
    display: block;
}

form {
    margin: 30px 0 0 0;
}

input {
    width: 100%;
    font-size: larger;
    margin: 24px 0 18px 0;
    outline-width: 0;
    border: none;
    border-bottom: #A9A9A9 1px solid;
}

.buttons {
    margin: 12px 0;
}

.lg-hid {
    display: none;
}

@media (max-width:1024px) {
    .sm-hid {
        display: none;
    }

    .lg-hid {
        display: block;
    }
}